RG_NAME_DEP0="rg-hub-dev" 
RG_NAME_DEP1="rg-finance-dev"
RG_NAME_DEP2="rg-sales-dev"
RG_NAME_DEP3="rg-hr-dev"
RG_NAME_DEP4="rg-marketing-dev"
RG_LOCATION="westeurope"
DEPARTMENT_0="hub"
DEPARTMENT_1="finance"
DEPARTMENT_2="sales"
DEPARTMENT_3="hr"
DEPARTMENT_4="marketing"
VNET_DEP0=10.1.0.0/24
VNET_DEP1=10.2.0.0/24
VNET_DEP2=10.3.0.0/24
VNET_DEP3=10.4.0.0/24ßß
VNET_DEP4=10.5.0.0/24
NSG_DEP0="nsg-hub"
NSG_DEP1="nsg-finance"
NSG_DEP2="nsg-sales"
NSG_DEP3="nsg-hr"
NSG_DEP4="nsg-marketing"
